<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Cinema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']"> <i class="fa fa-home"></i> Inicio</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!authService.loggedIn()">
                <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-user"></i> Ingresar</a>
            </li>
            <li class="nav-item" *ngIf="!authService.loggedIn()">
                <a class="nav-link" [routerLink]="['/signup']"><i class="fa fa-user-plus"></i> Registrarse</a>
            </li>
            <li class="nav-item dropdown" *ngIf="authService.loggedIn()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> {{username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="authService.logout()">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>